body {
background-color:rgba(211,211,211,0.75);
background-image:url(../media/nowhere.jpg);
background-attachment:fixed;
background-size:100% 100%;
font-family:sans-serif;
}

.inloggen:hover {
animation:button 2s infinite;
}

.box,.inloggen {
background-color:rgba(125,200,200,1);
border:solid;
text-decoration:none;
color:#000;
border-width:1px;
}

.back {
padding-top:5%;
background-color:rgba(125,200,200,1);
box-shadow:10px 10px 30px #888;
border-radius:0 0 13px 13px;
margin:-5% 11% 5%;
}

.border {
padding-left:5%;
}

.logo {
height:12.5%;
width:12.5%;
float:left;
}

.login {
float:right;
}

address {
font-size:1em;
background:linear-gradient(rgba(75,175,175,1), rgba(12,100,122,1));
border-top:solid;
border-radius:0 0 13px 13px;
border-width:.1em;
margin:5% 0 -10px;
padding:1%;
}

.construction {
background-color:#FF0;
border-radius:13px;
float:right;
overflow:auto;
border-bottom-style:solid;
margin:30px;
padding:30px;
}

header {
margin-right:-.45%;
margin-left:-.45%;
margin-bottom:5%;
box-shadow:10px 10px 5px #888;
border-collapse: collapse;

}

.head1 {
margin-top:-1%;
background:linear-gradient(rgba(12,100,122,1), rgba(75,175,175,1));
padding:1% 1% 3.5%;
display: block;
}

.head2 {
background-color:#2096E1;
border-top-width:1px;
border-top-style:solid;
border-top-color:rgba(252,252,252,0.42);
}

ul#tabnav {
text-align: left; 
border-bottom: 1px solid black;
list-style-type: none;
padding: 1% 40% 3px 40%;
list-style-type:none;
margin-top: -0.5%;
}

ul#tabnav li { /* do not change */
display: inline;
}

body#tab1 li.tab1 a, body#tab2 li.tab2 a, body#tab3 li.tab3 a, body#tab4 li.tab4 a, body#tab5 li.tab5 a {
background-color: rgba(125,200,200,1); 
position: relative;
border: 1px solid black;
border-bottom: 1px solid rgba(125,200,200,1);
top: 1px;
}

ul#tabnav li a {
padding: 3px 4px;
border: 1px solid black;
background-color: #cfc;
color: #000;
margin-right: 0px;
text-decoration: none;
border-bottom: 1px solid #cfc;
border-radius:13px 13px 0 0 ;
}

ul#tabnav a:hover {
background: #fff;
}

.box:hover,.box:focus {
animation:box 1s;
background-color:rgba(75,175,175,1);
}

@keyframes button {
0%  	{background-color: rgba(125, 200, 200, 1);}
50%	{background-color: rgba(75, 175, 175, 1);}
100%{background-color: rgba(125, 200, 200, 1);}
}
@keyframes box {
0%  	{background-color: rgba(125, 200, 200, 1);}
100%{background-color: rgba(75, 175, 175, 1);}
}